body {
  background-color: black;
}

h1 {
  padding-top: 100px;
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

h3 {
  text-align: right;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: gray;
  text-decoration: none;
}

.nature {
  width: 100%;
  height: 100%;
}
